@mixin myPlaceholder{
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}

@mixin button {
	font-family: $black;
	text-transform: uppercase;
	padding: 17px 27px;
	color: #ffffff;
	background-color: $orange;
	border: 0px;
	@include border-top-radius(3px);
	@include border-right-radius(3px);
	@include border-bottom-radius(3px);
	font-size: em(11px);
	letter-spacing: 1px;
}