$icon-font-path: '../fonts/';
//fonts
$regular: "pfdindisplaypro-regular";
$light: "pfdindisplaypro-light";
$black: "pfdindisplaypro-black";
// fonts color
$blue: #96d2e6;
$orange: #f3a900;
$grey: #585a5b;

$primaryTextColor: #111111;  //цвет, близкий к темному
$secondTextColor: #ffffff;	
$accentTextColor: #FFCC00;	//желтый цвет
$littleText: #cccad1; //мелкий серый цвет

$mainColor: #22133E;
$accentColor: #FFCC00;