mixin goods__items(img, name, description, price, quanity)
	.goods__item
		.goods__img-wrap
			img.goods__img(src= img, alt="")
		a.goods__name= name
		p.goods__description= description
		.goods__order
			span.goods__price= price
			button.button.button_goods Купить
			span.goods__quanity= quanity
			.clear
