doctype html
html(lang="ru")
head
    meta(charset='utf-8')   
    meta(name='description', content='')  
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title="Комар Алекс" 
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
  
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
      // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    // endbower
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
    // yandex shara begin
    script(type='text/javascript', src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
    script(type='text/javascript', src='//yastatic.net/share2/share.js', charset='utf-8')
    // yandex shara end
  body
    include ./mixins/mixins.jade
    .tasks
      .container
        .task.task1.row
          .task__text.col-md-4 
            p.task__p Число 125874 и результат умножения его на 2 — 251748 можно получить друг из друга перестановкой цифр. 
            p.task__p Найдите наименьшее положительное натуральное x такое, что числа 3*x, 4*x можно получить друг из друга перестановкой цифр.
          .task__program-launch.col-md-4
            .button(id= "task1") Выполнить скрипт
          .task__result-wrap.col-md-4
            .time Время выполнения скрипта
              span.time__span 123
            .result Результат вычисления
              span.result__span 234



    //
      [if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]  
    

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    // build:js scripts/plugins.js
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild